{% from 'components/buttons.j2.html' import icon_button with context %}
<div id="footer2">
    {%- set gh_url = blogBase['post_source_url'] if (blogBase['post_source_url'] is defined and blogBase['post_source_url'] and blogBase['show_post_source']) else blogBase['blog_repo_url'] -%}
    <span id="footerIcons">
        {{ icon_button('pathRSS', href=blogBase['home_url'] + '/rss.xml', title='RSS', button_id='buttonRSS', target='_blank') }}
        {{ icon_button('pathGH', href=gh_url, title='GitHub', button_id='buttonGH', target='_blank') }}
    </span>
</div>
<div id="footer1">Copyright © <span id="copyrightYear"></span> <a href="{{ blogBase['home_url'] }}">{{ blogBase['title'] }}</a></div>
<div id="footer3">
    {%- if blogBase['filing_num']!='' -%}
    <span id="filing_num"><a href="https://beian.miit.gov.cn/" target="_blank">{{ blogBase['filing_num'] }}</a></span><br />
    {%- endif %}
    <br />
    <span id="runday"></span><span>Powered by <a href="https://github.com/interset-wq/InterNote">Internote</a> • Based on <a href="https://github.com/Meekdai/Gmeek" target="_blank">Gmeek</a></span>
    {%- if blogBase['visit_counter']=='vercount' -%}
    <script src="{{ blogBase['home_url'] }}/plugins/vercount.js"></script>
    {%- elif blogBase['visit_counter']=='busuanzi' -%}
    <script src="{{ blogBase['home_url'] }}/plugins/busuanzi.js"></script>
    {%- endif -%}
</div>

<script>
var now=new Date();
document.getElementById("copyrightYear").innerHTML=now.getFullYear();
document.getElementById("pathRSS").setAttribute("d",IconList["rss"]);
document.getElementById("pathGH").setAttribute("d",IconList["github"]);

if("{{ blogBase['start_site'] }}"!=""){
    var startSite=new Date("{{ blogBase['start_site'] }}");
    var diff=now.getTime()-startSite.getTime();
    var diffDay=Math.floor(diff/(1000*60*60*24));
    document.getElementById("runday").innerHTML="{{ i18n['run'] }}"+diffDay+"{{ i18n['days'] }}"+" • ";
}
</script>
