{% extends 'base.j2.html' %}
{% from 'components/macros.j2.html' import head_meta, nav_link, search_button, site_nav with context %}

{% block head %}
  {{ head_meta(post.title, post.description, 'article', post.url) }}
  {% if post.highlight == 1 %}
  <link href="//unpkg.com/@wooorm/starry-night@2.1.1/style/both.css" rel="stylesheet">
  {% endif %}
  {{ post.head }}
{% endblock %}

{% block style %}{{ post.style }}{% endblock %}

{% block header %}
  <h1 class="in-post-title">{{ post.title }}</h1>
  {% call site_nav('Post navigation') %}
    {{ nav_link('home', site.home_url, i18n.home) }}
    {{ nav_link('tag', site.home_url ~ '/tag.html', i18n.tags) }}
    {{ search_button() }}
  {% endcall %}
{% endblock %}

{% block content %}
  <article>
    <div class="in-post-meta">
      <span class="Label" style="background-color:{{ post.date_label_color }};color:#fff">{{ post.created_date }}</span>
      {% if post.updated_date and post.updated_date != post.created_date %}
      <span class="Label" style="background-color:{{ post.date_label_color }};color:#fff">{{ i18n.updated }} {{ post.updated_date }}</span>
      {% endif %}
      {% for label in post.labels %}
      <span class="Label" style="background-color:{{ site.label_color_dict.get(label, '#6e7781') }};color:#fff">
        <a href="{{ site.home_url }}/tag.html#{{ label }}">{{ label }}</a>
      </span>
      {% endfor %}
    </div>
    <nav class="in-toc" id="in-toc" data-toc-title="{{ i18n.toc }}" data-toc-top="{{ i18n.top }}" aria-label="{{ i18n.toc }}"></nav>
    <div class="in-post-body markdown-body">{{ post.body }}</div>
    {% if post.footer_text %}
    <div class="in-post-footer-text">{{ post.footer_text }}</div>
    {% endif %}
  </article>
  {% if site.need_comment and post.comments %}
  {% include 'components/comments.j2.html' %}
  {% endif %}
  {# Floating action buttons (bottom-right). Server-rendered empty shell;
     plugins/fab.js fills it below 1250px, where the sidebar TOC is gone. #}
  <div id="in-fab" class="in-fab"
       data-toc-title="{{ i18n.toc }}"
       data-top-title="{{ i18n.top }}"
       data-bottom-title="{{ i18n.Next }}"
       hidden></div>
{% endblock %}

{% block script %}
  {% if site.need_comment and post.comments %}
  <script src="{{ site.home_url }}/plugins/giscus.js"></script>
  {% endif %}
  <script src="{{ site.home_url }}/plugins/toc.js"></script>
  <script src="{{ site.home_url }}/plugins/fab.js"></script>
  <script src="{{ site.home_url }}/plugins/lightbox.js"></script>
  {% if post.highlight != 0 %}
  <script src="{{ site.home_url }}/plugins/code-copy.js"></script>
  {% endif %}
  {{ post.script }}
{% endblock %}