{% extends 'base.j2.html' %}
{% from 'components/buttons.j2.html' import icon_button, theme_switch with context %}
{% block head %}
{%- set meta_title = blogBase['title'] -%}
{%- set meta_description = blogBase['sub_title'] -%}
{%- set meta_type = 'blog' -%}
{%- set meta_url = blogBase['home_url'] -%}
{% include 'components/head-meta.j2.html' %}
{% endblock %}

{% block style %}
<style>
.avatar {transition: 0.8s;width:64px;height:64px;object-fit: cover;}
.avatar:hover{transform: scale(1.15) rotate(360deg);}
.title-left a{color:inherit;text-decoration:none;vertical-align: bottom;font-size:40px;font-weight: bold;font-family:Monaco;margin-left:8px;}
.title-right button{margin-right:8px;padding:16px;}

.SideNav{min-width: 360px;}
.SideNav-icon{margin-right: 16px}
.SideNav-item .Label{color: #fff;margin-left:4px;}
.d-flex{min-width:0;}
.listTitle{overflow:hidden;white-space:nowrap;text-overflow: ellipsis;max-width: 100%;}
.listLabels{white-space:nowrap;display:flex;}
.listLabels object{max-height:16px;max-width:24px;}

@media (max-width: 600px) {
    body {padding: 8px;}
    .avatar {width:40px;height:40px;}
    .blogTitle{display:none;}
    .LabelTime{display:none;}
}
</style>
{{ blogBase['index_style'] }}
{% endblock %}

{% block header %}
<div class="title-left">
    <img src="{{ blogBase['avatar_url'] }}" class="avatar circle" id="avatarImg" alt="avatar">
    <a class="blogTitle">{{ blogBase['display_title'] }}</a>
</div>
<div class="title-right">
    {{ icon_button('pathSearch', href=blogBase['home_url'] + '/tag.html', title=i18n['Search'], button_id='buttonSearch') }}
    {% for key, value in blogBase['exlink'].items() -%}
    {{ icon_button(key, href=value, title=key, target='_blank') }}
    {%- endfor %}
    {% for num in blogBase['single_list'] -%}
    {{ icon_button(blogBase['single_list'][num]['post_title'], href=blogBase['home_url'] + '/' + blogBase['single_list'][num]['labels'][0] + '.html', title=blogBase['single_list'][num]['post_title']) }}
    {%- endfor %}
    {{ theme_switch() }}
</div>
{% endblock %}

{% block content %}
<div style="margin-bottom: 16px;">{{ blogBase['sub_title'] }}</div>
<nav class="SideNav border">
{% for num in post_list -%}
<a class="SideNav-item d-flex flex-items-center flex-justify-between" href="{{ post_list[num]['post_url']|e }}">
    <div class="d-flex flex-items-center">
        <svg class="SideNav-icon octicon" style="width:16px;height:16px"><path class="svgTop{{ post_list[num]['top'] }}" d=""></path>
        </svg>
        <span class="listTitle">{{ post_list[num]['post_title']|e }}</span>
    </div>
    <div class="listLabels">
        {% if post_list[num]['comment_num']>0 %}<span class="Label" style="background-color:{{ blogBase['comment_label_color'] }}">{{ post_list[num]['comment_num'] }}</span>{% endif %}
        {% for label in post_list[num]['labels'] -%}
        <span class="Label LabelName" style="background-color:{{ blogBase['label_color_dict'][label] }}"><object><a style="color:#fff" href="tag.html#{{ label }}">{{ label }}</a></object></span>
        {%- endfor %}
        <span class="Label LabelTime" style="background-color:{{ post_list[num]['date_label_color'] }}">{{ post_list[num]['created_date'] }}</span>
    </div>
</a>
{%- endfor %}
</nav>
{%- if blogBase['prev_url']!='disabled' or blogBase['next_url']!='disabled' -%}
<nav class="paginate-container" aria-label="Pagination">
    <div class="pagination">
        {%- if blogBase['prev_url']=='disabled' -%}
        <span class="previous_page" aria-disabled="true">{{ i18n['Previous'] }}</span>
        {% else -%}
        <a class="previous_page" rel="previous" href="{{ blogBase['home_url'] }}{{ blogBase['prev_url'] }}" aria-label="Previous Page">{{ i18n['Previous'] }}</a>
        {%- endif -%}

        {%- if blogBase['next_url']=='disabled' -%}
        <span class="next_page" aria-disabled="true">{{ i18n['Next'] }}</span>
        {% else -%}
        <a class="next_page" rel="next" href="{{ blogBase['home_url'] }}{{ blogBase['next_url'] }}" aria-label="Next Page">{{ i18n['Next'] }}</a>
        {%- endif -%}

    </div>
</nav>
{%- endif %}
{% endblock %}

{% block script %}
<script>
document.getElementById("pathSearch").setAttribute("d",IconList["search"]);
iconTOP=document.getElementsByClassName("svgTop1");
iconPost=document.getElementsByClassName("svgTop0");
for(var i=0;i<iconTOP.length;i++){
    iconTOP[i].setAttribute("d",IconList["upload"]);
    iconTOP[i].parentNode.style.color="red";
}
for(var i=0;i<iconPost.length;i++){
    iconPost[i].setAttribute("d",IconList["post"]);
}

{% for key, value in blogBase['exlink'].items() %}
document.getElementById("{{ key }}").setAttribute("d",value=IconList["{{ key }}"]);
{%- endfor %}

{% for num in blogBase['single_list'] -%}
document.getElementById("{{ blogBase['single_list'][num]['post_title'] }}").setAttribute("d",value=IconList["{{ blogBase['single_list'][num]['labels'][0] }}"]);
{%- endfor %}
</script>
{{ blogBase['index_script'] }}
{% endblock %}
