{# Navigation buttons component - expects: site, icons, i18n #}
<a class="in-nav-btn" href="{{ site.home_url }}/tag.html" title="{{ i18n.Search }}" aria-label="Search">
  <svg class="octicon" width="16" height="16"><path id="icon-search" fill-rule="evenodd"></path></svg>
</a>
{% for name, url in site.exlink.items() %}
<a class="in-nav-btn" href="{{ url }}" title="{{ name }}" target="_blank" aria-label="{{ name }}">
  <svg class="octicon" width="16" height="16"><path id="icon-{{ name }}" fill-rule="evenodd"></path></svg>
</a>
{% endfor %}
{% for key, item in site.single_list.items() %}
<a class="in-nav-btn" href="{{ site.home_url }}/{{ item.labels[0] }}.html" title="{{ item.title }}" aria-label="{{ item.title }}">
  <svg class="octicon" width="16" height="16"><path id="icon-{{ item.title }}" fill-rule="evenodd"></path></svg>
</a>
{% endfor %}
<button class="in-nav-btn" type="button" onclick="modeSwitch()" title="{{ i18n.switchTheme }}" aria-label="Switch theme" {% if site.theme_mode == 'fix' %}style="display:none;"{% endif %}>
  <svg class="octicon" width="16" height="16"><path id="themeSwitch" fill-rule="evenodd"></path></svg>
</button>
